* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     font-family: 'quicksand', sans-serif;
}

.hero_section {
     background-image: url("imgs/hero_bg.png");
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
     min-height: 100vh;
     width: 100%;
}

.hero_textOne,
.see_portfolioText,
.hireMe,
.hero_subtext {
     font-family: 'quicksand', sans-serif;
}

.hero_header {
     display: flex;
     justify-content: space-between;
     padding: 50px;
}

.header_socials {
     display: flex;
     gap: 20px;
}

.hero_textOne {
     font-weight: 700;
     font-size: 40px;
     color: rgba(255, 255, 255, 1);
     text-align: center;
}


.dd {
     display: flex;
     flex-direction: column;
     gap: 20px;
}

.hero_content {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;

}

.d {
     display: flex;
     flex-direction: column;
}

.left_con {
     display: flex;
     justify-content: flex-end;
     margin: 20px;
     position: relative;
     top: -100px;
     right: 100px;
}

.navigator {
     display: flex;
     flex-direction: column;
     margin-left: 100px;
}

.hero_subtext {
     max-width: 700px;
     font-size: 24px;
     font-weight: 400;
     line-height: 1.5;
     text-align: center;
     font-size: 24px;
     color: rgba(255, 255, 255, 1);
}

.see_portfolioBtn {
     width: 299px;
     height: 69px;
     border-radius: 5px;
     padding: 23px 81px;
     background: none;
     border: 1.5px solid rgba(255, 255, 255, 1);
}

.see_portfolioText {
     font-weight: 700;
     font-size: 16px;
     color: rgba(255, 255, 255, 1);
}

.hireMeBtn {
     width: 233px;
     height: 69px;
     border-radius: 5px;
     padding: 23px 81px;
     background-color: rgba(49, 152, 115, 1);
     border: none;
}

.hireMeText {
     font-weight: 700;
     font-size: 16px;
     text-align: center;
     color: rgba(255, 255, 255, 1);
}

.header_btn {
     display: flex;
     justify-content: center;
     gap: 20px;
}

.fun_facts_sub {
     display: flex;
     justify-content: center;
     margin: 20px;
}

.fun_facts_con {
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
}

.fff {
 padding: 50px;
}

.fun_facts_context {
     display: flex;
     flex-direction: column;
     justify-content: center;
      /* flex-wrap: wrap; */
     align-items: center;
}

.fun_facts_header {
     font-weight: 700;
     font-size: 28px;
     text-align: center;
     font-family: 'quicksand', sans-serif;

}

.fun_facts_border {
     border-bottom: 4px solid rgba(49, 152, 115, 1);
     width: 70%;
     margin-left: 20px;
     text-align: center;
}
.mmmm{
  display: flex;
     align-items: center;
     justify-content:center;
     gap: 40px;
     flex-wrap: wrap;
}

.dddd {
     display: flex;
     flex-direction: column;
     gap: 10px;
}

.fun_facts_first_text {
     width: 210px;
}

.fun_facts_second_text {
     width: 202px;
}

.fun_facts_third_text {
     width: 223px;
}

.fun_facts_fourth_text {
     width: 214px;
}

.general {
     font-weight: 500;
     font-size: 18px;
     line-height: 30px;
     text-align: center;
     color: rgba(133, 133, 133, 1);
}

/* Tablets */
@media (max-width: 875px) {
     .hero_content {
          flex-wrap: wrap;
          flex-direction: column;
          gap: 30px;
          padding: 20px;
     }
     .funfacts_imgs{
     width: 100%;
     }

     .d {
          display: flex;

     }

     .navigator {
          display: none;
     }

     .left_con {
          margin: 0;
          position: static;
     }

     .hero_subtext {
          font-size: 20px;
          max-width: 90%;
     }

      .left_con {
          position: static;
          text-align: center;
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 10px;
     }

}


/* Mobile */
@media (max-width: 575px) {

     .hero_content {
          flex-direction: column;
          gap: 20px;
          padding: 50px;
     }

     .hero_textOne {
          font-size: 28px;
     }

     .hero_subtext {
          font-size: 16px;
          max-width: 100%;
     }

     .header_btn {
          flex-direction: column;
          width: 100%;
          display: flex;
          align-items: center;
          gap: 10px;
     }

     .see_portfolioBtn,
     .hireMeBtn {
          width: 90%;
          height: auto;
          padding: 18px 0;
     }

     .see_portfolioText,
     .hireMeText {
          font-size: 14px;
     }

     .left_con {
          position: static;
          text-align: center;
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 10px;
     }

     .header_icon {
          display: flex;
          justify-content: center;

     }

     .header_socials {
          display: flex;
          flex-direction: column;
          position: relative;
          top: 420px;
          left: 20px;
     }
}