* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.hero_section {
     background-image: url("imgs/hero_bg.png");
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
     min-height: 100vh;
     width: 100%;
}

.hero_textOne,
.see_portfolioText,
.hireMe,
.hero_subtext {
     font-family: 'quicksand', sans-serif;
}

.hero_header {
     display: flex;
     justify-content: space-between;
     padding: 50px;
}

.header_socials {
     display: flex;
     gap: 20px;
}

.hero_textOne {
     font-weight: 700;
     font-size: 40px;
     color: rgba(255, 255, 255, 1);
     text-align: center;
}


.dd{
     display: flex;
     flex-direction: column;
     gap: 20px;
}

.hero_content {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     
}

.d {
     display: flex;
     flex-direction: column;
}

.left_con {
     display: flex;
     justify-content: flex-end;
     margin: 20px;
     position: relative;
     top: -100px;
     right: 100px;
}

.navigator {
     display: flex;
     flex-direction: column;
     margin-left: 100px;
}

.hero_subtext {
     max-width: 700px;
     font-size: 24px;
     font-weight: 400;
     line-height: 1.5;
     text-align: center;
     font-size: 24px;
     color: rgba(255, 255, 255, 1);
}

.see_portfolioBtn{
     width: 299px;
     height: 69px;
     border-radius: 5px;
     padding: 23px 81px;
     background: none;
     border: 1.5px solid rgba(255, 255, 255, 1);
}

.see_portfolioText{
     font-weight: 700;
     font-size: 16px;
     color: rgba(255, 255, 255, 1);
}

.hireMeBtn{
     width: 233px;
     height: 69px;
     border-radius: 5px;
     padding: 23px 81px;
     background-color: rgba(49, 152, 115, 1);
     border: none;
}

.hireMeText {
     font-weight: 700;
     font-size: 16px;
     text-align: center;
     color: rgba(255, 255, 255, 1);
}

.header_btn {
     display: flex;
     justify-content: center;
     gap: 20px;
}


/* Tablets */
@media (max-width: 875px) {
     .hero_content {
          flex-wrap: wrap;
          flex-direction: column;
          gap: 30px;
          padding: 20px;
     }
    .d{
     display: flex;
     
    }
     .navigator {
          display: none;
     }

     .left_con {
          margin: 0;
          position: static;
     }

     .hero_subtext {
          font-size: 20px;
          max-width: 90%;
     }
}


/* Mobile */
@media (max-width: 575px) {

     .hero_content {
          flex-direction: column;
          gap: 20px;
          padding: 50px;
     }

     .hero_textOne {
          font-size: 28px;
     }

     .hero_subtext {
          font-size: 16px;
          max-width: 100%;
     }

     .header_btn {
          flex-direction: column;
          width: 100%;
          display: flex;
          align-items: center;
          gap: 10px;
     }

     .see_portfolioBtn,
     .hireMeBtn {
          width: 90%;
          height: auto;
          padding: 18px 0;
     }

     .see_portfolioText,
     .hireMeText {
          font-size: 14px;
     }

     .left_con {
          position: static;
          text-align: center;
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 10px;
     }

.header_icon{
display: flex;
justify-content: center;

}
     .header_socials{
          display: flex;
          flex-direction: column;
          position: relative;
          top: 420px;
          left: 20px;
     }
}
